.heart-like{
    background-color: white;
    width: auto;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.heart-like:hover{
    width: max-content;
    transform: rotate(180deg);
}