.fa-heart{
    animation-delay: 1ms;
    animation-direction: normal;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
   animation-name: initial;
}
@keyframes fillin {
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(100%);
    }
}